.hidden { display: none; }

$main-bg-color: #333;
$main-color: white;

$main-font-face: 'arial', 'helvetica', sans-serif;
$main-font-size: 16px;

$heading-color: rgba(255, 255, 255, 0.5);

// quick reset
* {
    border: none;
    padding: 0;
    margin: 0;
}